body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    padding: 216px 364px 230px 845px;
    text-align: right;
    color: #151414;
}

.header-content h1 {
    font-size: 65px;
    font-weight: 700;
}

.header-content p {
    font-size: 16px;
    font-weight: 400;
}

.btn-white {
    font-weight: 600;
    background: #F15B22;
    font-size: 20px;
    padding: 20px 26px;
    border: 0;
    border-radius: 5px;
}